.env
node_modules
logs
# Prisma
.prisma/                        # internal Prisma client cache
prisma/migrations/              # only when use npx prisma migrate dev
../src/generated/prisma       # where outputting the Prisma client / custom output